html {
    background-color: rgba(231, 219, 201, 0.836);
}

body {
    background-color: white;
}
header {

}
main {

}
table {
    border-collapse: collapse;
    font-size: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 600px;
}
td, th {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
tr {
    height: 50px;
}
thead tr{
    background-color: lightcyan;
}
.midt {
    text-align: left;
}