main {
    justify-content: center;
    background-color: #546A76;
    border: 4px solid #4F5D75;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 10px 10px 40px;
    width: 500px;

}

.temanettside {
    height: 100px;

}

.forsidelenke {
    display: flex;
    font-size: 50px;
    text-decoration: none;
    color: #4F5D75;
}

.forsidelenke:hover {
    color: #546A76;

}

.navbar {
    display: flex;
    background-color: #4F5D75;
    border: 4px solid #546A76;
}
.navbar img {
    width: 70px;
}